
<%- include('partials/header.html') %>

<section class="outras-noticias">
            <div style="width: 100%; max-width: 768px; margin: 0 auto;" class="mais-lidas">
                <h3>4 RESULTADOS</h3>
                <div class="box-noticia-mais-lida">
                    <div class="noticia-mais-lida">
                        <img src="assets/images/natureza1.png" alt="">
                        <div class="noticia-mais-lida-conteudo">
                            <h4>NATUREZA</h4>
                            <p>Donec consectetur libero eget bibendum ullamcorper. Quisque auctor nulla eu enim ultrices laoreet.</p>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="noticia-mais-lida">
                        <img src="assets/images/leao.png" alt="">
                        <div class="noticia-mais-lida-conteudo">
                            <h4>MUNDO ANIMAL</h4>
                            <p>Donec consectetur libero eget bibendum ullamcorper. Quisque auctor nulla eu enim ultrices laoreet.</p>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="noticia-mais-lida">
                        <img src="assets/images/fone.png" alt="">
                        <div class="noticia-mais-lida-conteudo">
                            <h4>TECNOLOGIA</h4>
                            <p>Donec consectetur libero eget bibendum ullamcorper. Quisque auctor nulla eu enim ultrices laoreet.</p>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="noticia-mais-lida">
                        <img src="assets/images/pedra.png" alt="">
                        <div class="noticia-mais-lida-conteudo">
                            <h4>LIFESTYLE</h4>
                            <p>Donec consectetur libero eget bibendum ullamcorper. Quisque auctor nulla eu enim ultrices laoreet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer.html') %>
