
<%- include('partials/header.html') %>

<section class="outras-noticias">
            <div style="width: 100%; max-width: 768px; margin: 0 auto;" class="mais-lidas">
                <h3><%= contagem %> Resultados</h3>
                <div class="box-noticia-mais-lida">
                    <% for(let i = 0; i < posts.length; i++){ %>
                    <div class="noticia-mais-lida">
                        <img src="<%= posts[i].imagem %>" alt="">
                        <div class="noticia-mais-lida-conteudo">
                            <a href="<%= posts[i].slug %>">
                                <h4><%= posts[i].titulo %></h4>
                                <p><%= posts[i].shortDescription %></p>
                            </a>
                        </div>
                    </div>
                    <div class="line"></div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer.html') %>
