<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/icons/jornal.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/style.css">
    <title>LOGIN</title>
</head>
<body style="background-color: #0aacdc;">
    <div class="title-login">
        <h1>DNZ NEWS</h1>
    </div>
    <section class="center">
        <div class="login">
            <h2>Registrar-se</h2>
            <form method="post">
                <label>Nome</label>
                <br>
                <input type="text">
                <br>
                <label>E-mail</label>
                <br>
                <input type="email">
                <br>
                <label>Senha</label>
                <br>
                <input type="password">
                <br>
                <input type="submit" value="Registrar">
            </form>
            <div class="register">
                <p>Já Possui uma Conta ?<a href="/admin/login">Login</a></p>
            </div>
        </div>
    </section>
</body>
</html>