<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/icons/jornal.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/style.css">
    <title>LOGIN</title>
</head>
<body style="background-color: #0aacdc;">
    <div class="title-login">
        <h1>DNZ NEWS</h1>
    </div>
    <section class="center">
        <div class="login">
            <h2>LOGIN</h2>
            <form method="post">
                <label>User</label>
                <br>
                <input type="text" name="login">
                <br>
                <label>Password</label>
                <br>
                <input type="password" name="senha">
                <br>
                <input type="submit" value="Login">
            </form>
            <div class="register">
                <p>Não Possui uma Conta? <a href="/registro/novo-cadastro">Registre-se</a></p>
            </div>
            <div class="register">
                <p>Esqueceu sua Senha? <a href="/registro/novo-cadastro">Recuperar</a></p>
            </div>
        </div>
    </section>
</body>
</html>