<%- include('partials/header.html') %>

<section class="noticia">
    <div class="center">
        <div class="noticia-single">
            <h2><%= noticia.titulo %></h2>
            <div class="img-noticia">
                <img src="<%= noticia.imagem %>" alt="">
            </div>
            <div class="autor-name">
                <span>Por <%= noticia.autor %></span>
            </div>
            <div class="noticia-texto">
                <p>
                 <%- noticia.conteudo %>
                </p>
            </div>
        </div>
        <div class="mais-lidas">
            <h3>Mais Lidas</h3>
            <div class="box-noticia-mais-lida">

                <% for(let i = 0; i < postsTop.length; i++){ %>

                <div class="noticia-mais-lida">
                    <img src="<%= postsTop[i].imagem %>" alt="">
                    <div class="noticia-mais-lida-conteudo">
                        <a href="<%= postsTop[i].slug %>">
                            <h4><%= postsTop[i].titulo %></h4>
                            <p><%= postsTop[i].shortDescription %></p>
                        </a>
                    </div>
                </div>
                <div class="line"></div>

                <% } %> 

            </div>
        </div>
    </div>
</section> 

<%- include('partials/footer.html') %>